In [20]:
import pandas as pd

In [21]:
#Note : reading the file from url gives an error (ParserError: Error tokenizing data. C error: Expected 1 fields in line 41, saw 17)
url = 'country.csv'
df = pd.read_csv(url)

In [22]:
df

        Name  Population     Area     GDP Currency
0    Germany    82521653   357385  3466.0      EUR
1      Japan   126045000   377835  4938.0      YEN
2     Canada    36503097  9984670  1529.0      CAD
3      Italy    60501718   301338  1850.0      EUR
4   Brazilia   208360000  8515770  1798.0     REAL
5     Taiwan    23938272    36197   744.0      NTD
6  Venezuela    28208977   912050     NaN      VED

In [23]:
#isplay descriptive statistics for the numerical column
statistics = df.describe()
print(statistics)

         Population          Area          GDP
count  7.000000e+00  7.000000e+00     6.000000
mean   8.086839e+07  2.926464e+06  2387.500000
std    6.670195e+07  4.348507e+06  1532.497537
min    2.393827e+07  3.619700e+04   744.000000
25%    3.235604e+07  3.293615e+05  1596.250000
50%    6.050172e+07  3.778350e+05  1824.000000
75%    1.042833e+08  4.713910e+06  3062.000000
max    2.083600e+08  9.984670e+06  4938.000000

In [24]:
#Show the last 4 rows of the data frame.
last_4_rows = df.tail(4)
print(last_4_rows)

        Name  Population     Area     GDP Currency
3      Italy    60501718   301338  1850.0      EUR
4   Brazilia   208360000  8515770  1798.0     REAL
5     Taiwan    23938272    36197   744.0      NTD
6  Venezuela    28208977   912050     NaN      VED

In [25]:
#Show all the rows of countries that have the EURO
euro_countries = df[df['Currency'] == 'EURO']
print(euro_countries)

Empty DataFrame
Columns: [Name, Population, Area, GDP, Currency]
Index: []

In [26]:
#Show only name and Currency in a new data frame
name_currency_df = df[['Name', 'Currency']]
print(name_currency_df)

        Name Currency
0    Germany      EUR
1      Japan      YEN
2     Canada      CAD
3      Italy      EUR
4   Brazilia     REAL
5     Taiwan      NTD
6  Venezuela      VED

In [27]:
#Show only the rows/countries that have more than 2000 GDP 
gdp_greater_2000 = df[df['GDP'] > 2000]
print(gdp_greater_2000)

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
1    Japan   126045000  377835  4938.0      YEN

In [28]:
#Select all countries where with inhabitants between 50 and 150 Mio
selected_countries = df[(df['Population'] >= 50000000) & (df['Population'] <= 150000000)]
print(selected_countries)

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
1    Japan   126045000  377835  4938.0      YEN
3    Italy    60501718  301338  1850.0      EUR

In [30]:
# Calculate GDP average (ignoring missing values)
gdp_average_without_nan = df['GDP'].mean()
print("GDP Average (Ignoring Missing Values):", gdp_average_without_nan)

GDP Average (Ignoring Missing Values): 2387.5

In [32]:
# Calculate GDP average (missing values treated as 0)
gdp_average_zero = df['GDP'].fillna(0).mean()
print("GDP Average (Missing Values Treated as 0):", gdp_average_zero)

GDP Average (Missing Values Treated as 0): 2046.4285714285713

In [33]:
# Calculate population density (population/area) and add as a new column
df['Population Density'] = df['Population'] / df['Area']
print(df)

        Name  Population     Area     GDP Currency  Population Density
0    Germany    82521653   357385  3466.0      EUR          230.904075
1      Japan   126045000   377835  4938.0      YEN          333.597999
2     Canada    36503097  9984670  1529.0      CAD            3.655914
3      Italy    60501718   301338  1850.0      EUR          200.776928
4   Brazilia   208360000  8515770  1798.0     REAL           24.467547
5     Taiwan    23938272    36197   744.0      NTD          661.333039
6  Venezuela    28208977   912050     NaN      VED           30.929200

In [34]:
# Sort DataFrame by country name alphabetically
df_sorted = df.sort_values(by='Name')
print(df_sorted)

        Name  Population     Area     GDP Currency  Population Density
4   Brazilia   208360000  8515770  1798.0     REAL           24.467547
2     Canada    36503097  9984670  1529.0      CAD            3.655914
0    Germany    82521653   357385  3466.0      EUR          230.904075
3      Italy    60501718   301338  1850.0      EUR          200.776928
1      Japan   126045000   377835  4938.0      YEN          333.597999
5     Taiwan    23938272    36197   744.0      NTD          661.333039
6  Venezuela    28208977   912050     NaN      VED           30.929200

In [36]:
#Create a new data frame from the original where the area is changed: all countries with > 1000000 get BIG and <= 1000000 get SMALL
# in the cell replaced
df_new = df.copy()
df_new['Area'] = df_new['Area'].apply(lambda x: 'BIG' if x > 1000000 else 'SMALL')
print(df_new)

        Name  Population   Area     GDP Currency  Population Density
0    Germany    82521653  SMALL  3466.0      EUR          230.904075
1      Japan   126045000  SMALL  4938.0      YEN          333.597999
2     Canada    36503097    BIG  1529.0      CAD            3.655914
3      Italy    60501718  SMALL  1850.0      EUR          200.776928
4   Brazilia   208360000    BIG  1798.0     REAL           24.467547
5     Taiwan    23938272  SMALL   744.0      NTD          661.333039
6  Venezuela    28208977  SMALL     NaN      VED           30.929200